:root {
  /* Font and global colors */
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #333;
  background-color: #f9f9f9;

  --primary-color: #646cff;
  --secondary-color: #535bf2;
  --light-background: #ffffff;
  --dark-background: #242424;
  --neutral-gray: #888;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Anchor tags */
a {
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--secondary-color);
}

/* Body layout */
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: var(--light-background);
  color: var(--primary-color);
  overflow-x: hidden; /* Evitar desbordamiento horizontal */
}
/* General heading styles */
h1 {
  font-size: 2.5rem;
  margin: 1rem 0;
  font-weight: 700;
}

h2,
h3 {
  color: var(--neutral-gray);
  margin-top: 1.5rem;
}

/* Buttons */
button {
  border-radius: 8px;
  border: none;
  padding: 0.8em 1.5em;
  font-size: 1em;
  font-weight: 600;
  font-family: inherit;
  color: #fff;
  background-color: var(--primary-color);
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--secondary-color);
}

button:focus {
  outline: 2px solid var(--primary-color);
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  button {
    font-size: 0.9rem;
    padding: 0.6em 1.2em;
  }
}
