.movie-details {
  text-align: center;
  padding: 2rem;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

img {
  margin-bottom: 1rem;
  border-radius: 8px;
}

p {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

button {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Botón de "Add" (Verde) */
.add {
  background-color: #4caf50;
  color: white;
}

.add:hover {
  background-color: #388e3c;
}

/* Botón de "Remove" (Rojo) */
.remove {
  background-color: #ff4d4d;
  color: white;
}

.remove:hover {
  background-color: #e60000;
}
